<article>
<h1>Hey</h1>
<form method="POST" action="/on" >
    <div>
            <button type="submit">On</button>
    </div>
</form>
<form method="POST" action="/off" >
    <div>
            <button type="submit">Off</button>
    </div>
</form>
</article>